@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-loja-bg: #F3E5D0;
  --color-loja-orange: #F28C28;
  --color-loja-brown: #5D4037;
  --color-loja-input: #FFCC80;
  --font-game: "Coiny", system-ui;
  --font-sans: "Fredoka", sans-serif;
}

@import "./pages/landing.css";
@import "./pages/waiting.css";
@import "./pages/play.css";
@import "./pages/end.css";
@import "./pages/gj.css";
@import "./pages/gj.dashboard.css";

body {
    @apply bg-loja-bg;
}