.gj {
    @apply h-screen flex flex-col items-center justify-center py-12 px-12 overflow-hidden;
}

.gj .game_title {
    @apply text-2xl text-loja-brown font-game mb-4 text-center;
}

.gj .name-input {
    @apply flex flex-col justify-center items-center gap-2 w-full max-w-md;
}

.gj .name-input p {
    @apply mb-3 text-loja-brown font-sans font-semibold uppercase text-lg;
}

.gj .name-input .input {
    @apply w-full border-4 border-loja-brown rounded-3xl p-3 text-center text-lg font-bold focus:outline-none text-loja-brown bg-loja-input mb-6;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 6px 0 0 #5D4037;
}

.gj .name-input .input:disabled {
    @apply opacity-65 cursor-not-allowed;
    box-shadow: none;
}

.gj .name-input .button {
    @apply w-full border-4 border-loja-brown rounded-3xl p-3 text-center text-lg font-bold focus:outline-none text-loja-brown bg-loja-input cursor-pointer;
}

.gj .instructions {
    @apply flex flex-col justify-start gap-1 w-full max-w-md;
}

.gj .instructions .title {
    @apply text-loja-brown font-game text-lg;
}

.gj .instructions .description {
    @apply text-loja-brown font-sans text-sm leading-relaxed;
}

.gj .error {
    @apply text-red-500 text-sm font-bold text-center;
}

.gj .footer {
    @apply flex flex-col justify-center items-center text-loja-brown font-sans text-xs mt-24;
}

.gj .footer .title {
    @apply font-game text-center max-w-xl;
}